body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
    background-image: url(bg-48972d79.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
}

.container{
    width: 350px;
	height: 500px;
    background-color: red;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(20px);
    /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
}

#chk{
	display: none;
}

.signup{
    position: relative;
    height: 100%;
    width: 100%;
}

label{
    color: #fff;
    font-size: 37px;
    display: flex;
    justify-content: center;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
    width: 60%;
	height: 20px;
	justify-content: center;
	display: flex;
	background: #e0dede;
	margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}

button{
    margin: 10px auto;
    width: 60%;
    height: 40px;
    justify-content: center;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background-color: #dfbdbd;
    border-radius: 10px;
	border: none;
    transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
    background: #a11e1e;
}

.login{
    height: 460px;
	background: #eee;
    border-radius: 60% / 10%;
	transform: translatey(-180px);
    transition: .8s ease-in-out;
}

.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.8);
}
